config CUSTOM_BUS485
    bool "Custom bus485"
    default n 
    depends on UART_INTERRUPT_DRIVEN && GPIO
    help
        Enable the custom bus485 driver.

config CUSTOM_BUS485_INIT_PRIORITY
    int "Initialization priority"
    default 50
    range 1 100

config CUSTOM_BUS485_QUEUE_SIZE
    int "Size of receive queue"
    default 256
    range 1 256

config CUSTOM_BUS485_RECV_SYM_IDLE_COUNT
    int "count symbols for wait idle status on bus"
    default 5
    range 3 5

config CUSTOM_BUS485_DE_ACTIVE
    bool "use pin data_enable"
    default y

config CUSTOM_BUS485_CORRECTION_READ_AFTER_WRITE
    bool "read waste single byte after toggle data_enable pin"
    default y