
&usart2 {
    status="okay";
    current-speed = <115200>;
    b485: custom_bus4850 {
        compatible = "custom,bus485";
        status="okay";
        pin-gpios = <&gpiob 14 GPIO_ACTIVE_LOW>;
        label="custom_bus4850";
    };
};
